/* General Styles */
body,
h2,
p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #f9f9f9;
}

/* Navbar */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
.container {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    top: 0;
    left: 0;
    padding: 8px ; /* Ensure padding on both sides */
    box-sizing: border-box; /* Include padding in the width calculation */
}

.container > * {
    margin-left: 0;
    margin-right: 0;
}

.search_img{
    height: 10px;
}

.searchLi{
text-decoration: none;
}


.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
}

.logoDiv {
    display: flex;
    align-items: center;

}

.mobMenu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.burgerMenu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.burgerMenu span {
    width: 25px;
    height: 3px;
    background: #000;
}

.linksDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 400px;

}

.linksUl {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.linksUl li {
    position: relative;
}

.linksUl a {
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
    font-family: "Futura Bk BT";
}

.innerMenuDiv {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 10;
}

.innerMenu:hover .innerMenuDiv {
    display: block;
}

.staticlinksUl {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0;
    margin: 0;
   
}

.enquire,
.call,
.chat,
search {
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
    padding: 5px 10px;

}

.enquire:hover,
.call:hover,
.chat:hover {
    background: #000;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: white;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Hero Section */
.hero {
    height: 100vh;
    width: 100%;

}

.hero-video {
    height: 100%;
    width: 100%;
}


/* Content Sections */
.content-section {
    display: flex;
    justify-content: center;
    padding: 50px;
    background: #f1f1f1;
    text-align: left;
    gap: 20px;
}

.contentImg {
    display: flex;
    align-items: center;
    max-width: 1200px;
    gap: 100px;
}

.content img {
    width: 50%;
}

.content p {
    width: 50%;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 16px;
    font-family: "Futura Bk BT";
}

.content h4 {
    font-size: 12px;
    color: red;
    font-family: 'Cormorant Garamond Bold'
}

.content h2 {
    font-family: 'Cormorant Garamond Semibold';
}

/* Reverse Layout */
.reverse .content {
    flex-direction: row-reverse;
}


/* Story Section */
.story-section {
    display: flex;
    align-items: center;
    background: #fefbec;
}

/* Story Container */
.story {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 1200px; */
    gap: 20px;
}

/* Text Section */
.text {
    width: 50%;
    max-width: 800px;
    margin-left: 200px;
}

.text h4 {
    font-size: 14px;
    font-weight: bold;
    color: red;
    /* margin-bottom: 10px; */
}

.text h5 {
    font-size: 22px;
    font-family: 'Cormorant Garamond Semibold';
    color: #666;
    margin-bottom: 10px;
}

.text p {
    font-size: 16px;
    font-family: "Futura Bk BT";
    line-height: 1.6;
    color: #444;
}

/* Image Section */
.imgDiv {
    display: flex;
    width: 55%;
    height: 100vh;
    /* gap: 8px; */
    overflow: hidden;
}

.imgDiv img {
    width: 50%;
    height: 100vh;
    object-fit: cover;
}

/* Card Section */
.card-section {
    text-align: center;
    margin-bottom: 30px;
    /* padding: 50px; */
    /* background: white; */
}

.card-section h4 {
    color: red;
    margin-top: 40px;
    font-size: 14px;
}

.card-section p {
    font-size: 26px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    padding: 20px;
    width: 200px;
}

.card p {
    padding-top: 10px;
    font-size: 14px;
}

.prev-button {
    text-decoration: none;
    border: none;
    background: none;
    font-size: 26px;
    padding-right: 20px;
    color: red;
    margin-bottom: 20px;
}

.next-button {
    text-decoration: none;
    border: none;
    background: none;
    font-size: 26px;
    color: red;
}

/* Button Section */
.btn {

    padding: 15px 26px;
    border: 1px solid red;
    cursor: pointer;
    background: transparent;
}

.btn:hover {
    background: red;
    color: white;
}

/* Brand Section */
.brand-section {
    text-align: center;
    padding: 50px;
    /* background: #f1f1f1; */
}

.brand-section p {
    font-size: 14px;
    color: red;
    padding-bottom: 50px;
}

.brands {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    background: transparent;
}

.brands img {
    width: 200px;
}

/* Footer */
.footer {
    background-color: #fefbec;
    /* color: white; */
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer div {
    margin: 10px;
}

.footer-links {
    display: flex;
    text-align: left;
    gap: 30px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
    color: #8f8e84;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-logo img {
    width: 300px;
    margin-top: 20px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin-top: 40px;
}

.copyDiv {
    text-align: center;
    color: #8f8e84;
    padding-bottom: 10px;
    font-size: 14px;
    background-color: #fefbec;
}

.copyDiv p {
    padding-top: 10px;
    color: #8f8e84;
}

/* dividor  */
.divider {
    position: relative;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.divider hr {
    border: none;
    border-top: 2px solid black;
    width: 100%;
    margin: 10px 0;
}

.divider span {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background:transparent;

    padding: 0 5px;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.hidden-footer {
    display: none;
    background-color: #fefbec;
    padding: 20px;
    transition: max-height 0.3s ease-in-out;
}

.hidden-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    padding: 10px;
}

.links a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 5px 0;
}

.open .hidden-footer {
    display: block;
}

.open .divider span {
    transform: translateX(-50%) rotate(180deg);
}

/* Hidden footer  */

.hidden-footer {
    padding: 40px 0;
    color: #8f8e84;
}

.hidden-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.five-columns .column {
    width: 18%;
}

.four-columns .column {
    width: 24%;
}

.column h4 {
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.links a {
    text-decoration: none;
    text-align: left;
    color: #8f8e84;
    font-size: 14px;
    transition: color 0.3s ease-in-out;
}

.links a:hover {
    color: #ffcc00;
}

